.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.grow1{
    flex-grow: 1;
}

#logo{
	width: 15%;
}

.form-1{
	float: right;
}

.field, .submit{
	float: left;
}

h3{
	font-family: "Ubuntu";
}

.error{
    color: red;
    /* float: right; */
    position: fixed;
    right: 3em;
    top: 7em;}

    div#MiCuenta {
    float: right;
}


/*estilos del menú */

#menu {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

#menu .active {
    background-color: red;
}

.cajon{
	       width: 31.333333%;
    float: left;
    margin: 5px;
}

.caption{
	display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

}

.caption img{
    display: block;
    max-width: 100%;
    height: auto;
}